modules = ["python-3.11", "bash"]
[agent]
expertMode = true
integrations = ["python_openai:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["awsebcli", "c-ares", "cacert", "cargo", "glibcLocales", "gmp", "grpc", "libffi", "libiconv", "libxcrypt", "libyaml", "openssl", "pkg-config", "rustc", "xsimd", "zlib", "gcc"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "FedSymGraph Server"

[[workflows.workflow]]
name = "FedSymGraph Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash start_server.sh"

[[ports]]
localPort = 8080
externalPort = 80
